<section class="container d-flex justify-content-center align-items-center" style="height: 70vh;">
  <div class="card p-5 bg-opacity-75 shadow bg-container">
    <h1 class="mb-3">Bem-vindo ao Sistema de Gestão de Empresas</h1>
    <p class="mb-4">Gerencie seu time, monitore departamentos e acompanhe as operações com eficiência e controle.</p>
    <a href="#" class="btn btn-primary btn-lg">Entrar no Sistema</a>
  </div>
</section>