<section class="container mt-4">
    <h1 class="text-center">Cadastro de Funcionário</h1>
    <form action="/funcionario/store" method="post">
        
        <!-- Campo Nome -->
        <section class="mb-3">
            <input placeholder="Nome" type="text" class="form-control" id="nome" name="nome" required>
        </section>

        <!-- Campo Salário e Cargo -->
        <section class="row mb-3">
            <div class="col-md-6">
                <input placeholder="Salário" type="text" class="form-control" id="salario" name="salario" required>
            </div>
            <div class="col-md-6">
                <input placeholder="Cargo" type="text" class="form-control" id="cargo" name="cargo" required>
            </div>
        </section>

        <!-- Campo Departamento -->
        <section class="mb-3">
            <select name="departamento" id="departamento" class="form-select" required>
              <option value="">Escolha o Departamento...</option>
              {{#each dados}}
              <option value="1">{{dataValues.nome}}</option>
              {{/each}}
            </select>
        </section>

        <!-- Botão de Cadastrar -->
        <section class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </section>
    </form>
</section>
